{% extends 'new_index.html' %}

{% block content %}
<div class="container">
	
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			
			<form action="{{ url_for('login')}}" method="post">
				<h2>Welcome To Node postal Service</h2>
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input type="text" class="form-control" id="username"  name = "username" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock%}